<button mat-flat-button color="primary" [matMenuTriggerFor]="login_menu">
  <mat-icon>power_settings_new</mat-icon>
  <span>Se connecter</span>
</button>

<mat-menu #login_menu="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Se connecter</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings_power</mat-icon>
    <span>Créer un compte</span>
  </button>
  <button mat-menu-item>
    <mat-icon>miscellaneous_services</mat-icon>
    <span>Support</span>
  </button>
  <button mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Se déconnecter</span>
  </button>
</mat-menu>
