<!-- header -->
<!--    route: none    -->
<header>
<mat-toolbar id="header">
  <mat-toolbar-row>
    <button mat-icon-button color="primary" (click)="onViewHome()" aria-label="Lien vers la page d'accueil">
      <mat-icon color="accent">eco</mat-icon>
    </button>
    <!--  <span>
        <img src="../../assets/logo/Logo-ventalis-green.png" alt="Ventalis logo"/>
      </span>-->
    <vtl-lang-button-menu (click)="onViewLang()"></vtl-lang-button-menu>
    <!--<button mat-button color="primary" (click)="onViewLang()">FR</button>-->
    <button mat-button color="primary" (click)="onViewCatalog()" aria-label="Lien vers la page Catalogue">Catalogue</button>
    <button mat-button color="primary" (click)="onViewAbout()" aria-label="Lien vers la page A propos de Ventalis">Présentation</button>
    <button mat-button color="primary" (click)="onViewContact()" aria-label="Lien vers la page de contact">Contact</button>
    <span class="spacer"></span>
    <button mat-flat-button color="accent" *ngIf="!isLoggedIn; else subMenuForUser" (click)="openLoginDialog()">Se connecter</button>
    <vtl-user-button-menu *ngIf="isLoggedIn && hasUserRole"></vtl-user-button-menu>
    <vtl-intranet-button-menu  *ngIf="isLoggedIn && hasEmployeeRole"></vtl-intranet-button-menu>
    <vtl-admin-button-menu *ngIf="isLoggedIn && hasAdminRole"></vtl-admin-button-menu>
  </mat-toolbar-row>
</mat-toolbar>
</header>

<ng-template #subMenuForUser>
  <!-- Ce bouton "Cart" devra être masqué dans les espaces administrateur et intranet -->
  <!-- mais son "espace" doit être conservé par rapport au bouton Connexion -->
  <button mat-flat-button color="primary">
    <mat-icon>shopping_cart</mat-icon>
    <span>Cart</span>
  </button>

  <button mat-flat-button color="accent" [matMenuTriggerFor]="user_menu">
    <mat-icon>menu</mat-icon>
    <span>Mon espace</span>
  </button>

  <mat-menu #user_menu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Mon espace</span>
    </button>
    <button mat-menu-item>
      <mat-icon>forum</mat-icon>
      <span>Mon conseiller</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>shopping_bag</mat-icon>
      <span>Mes commandes</span>
    </button>
    <!-- Bouton (optionnel) car accès direct au panier dans le menu de navigation -->
    <button mat-menu-item *ngIf="!hideShortcutMenuItems">
      <mat-icon>shopping_cart</mat-icon>
      <span>Mon panier</span>
    </button>
    <!-- Bouton (optionnel) d'accès direct à la création de produit (?), si besoin -->
    <button mat-menu-item *ngIf="!hideShortcutMenuItems">
      <!--    <mat-icon>favorite</mat-icon> -->
      <mat-icon>eco</mat-icon>
      <span>Mes produits favoris</span>
    </button>
    <mat-divider></mat-divider>
    <!-- Bouton vers "support technique" (email vers un admin ?), si besoin -->
    <button mat-menu-item *ngIf="!hideSupportMenuItem">
      <mat-icon>settings</mat-icon>
      <span>Support</span>
    </button>
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</ng-template>
