<!-- header -->
<!--    route: none    -->
<mat-toolbar-row>
  <button mat-icon-button color="primary" (click)="onViewHome()">
    <mat-icon color="primary">eco</mat-icon>
  </button>
  <span>
<img src="../../assets/logo/Logo-ventalis-green.png" alt="Ventalis logo"/></span>
  <button mat-button color="primary" (click)="onViewLang()">FR</button>
  <button mat-button color="accent" (click)="onViewCatalog()">Catalogue</button>
  <button mat-button color="primary" (click)="onViewAbout()">Présentation</button>
  <button mat-button color="primary" (click)="onViewContact()">Contact</button>
  <button mat-button color="primary" (click)="onViewLogin()">Se connecter</button>
</mat-toolbar-row>

