footer{
  display: flex;
  width: 100vw;
}

.spacer {
  flex: 1 1 auto;
}

/*.first-row {
  display: flex;
  flex-flow: row wrap;
}*/

.inner-row {
  display: flex;
  flex-flow: column;
  flex: 1 1 initial;
  justify-content: space-around;
  align-content: baseline;
  height: 200px;
}

.inner-content {
}

.last-row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 initial;
  justify-content: center;
  align-content: baseline;
}

@media only screen and (max-width: 599.98px) {
  .inner-row{
  }
}
