.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 200px;
}

.div {
  height: 100px;
  width: 100px;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}

#footer {
  clear : both;
  height: 30vh;
}
