<!-- Ce bouton "Cart" devra être masqué dans les espaces administrateur et intranet -->
<!-- mais son "espace" doit être conservé par rapport au bouton Connexion -->
<button mat-flat-button color="primary">
  <mat-icon>shopping_cart</mat-icon>
  <span>Cart</span>
</button>

<button mat-flat-button color="accent" [matMenuTriggerFor]="user_menu">
  <mat-icon>power_settings_new</mat-icon>
  <span>Mon espace</span>
</button>

<mat-menu #user_menu="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    <span>Mon espace</span>
  </button>
  <button mat-menu-item>
    <mat-icon>forum</mat-icon>
    <span>Mon conseiller</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>shopping_bag</mat-icon>
    <span>Mes commandes</span>
  </button>
  <!-- Bouton (optionnel) car accès direct au panier dans le menu de navigation -->
  <button mat-menu-item *ngIf="!hideShortcutMenuItems">
    <mat-icon>shopping_cart</mat-icon>
    <span>Mon panier</span>
  </button>
  <!-- Bouton (optionnel) d'accès direct à la création de produit (?), si besoin -->
  <button mat-menu-item *ngIf="!hideShortcutMenuItems">
    <!--    <mat-icon>favorite</mat-icon> -->
    <mat-icon>eco</mat-icon>
    <span>Mes produits favoris</span>
  </button>
  <mat-divider></mat-divider>
  <!-- Bouton vers "support technique" (email vers un admin ?), si besoin -->
  <button mat-menu-item *ngIf="!hideSupportMenuItem">
    <mat-icon>settings</mat-icon>
    <span>Support</span>
  </button>
  <button mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

