.header {
  position: sticky;
  top: 0;
  width: 100vw;
  clear: both;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.fab {
  position: sticky;
  bottom: -10vh;
  left: 95vw;
  padding: 10px;
}

.footer {
  position: sticky;
  bottom: -330px;
}
