<!-- signup-form.component.html -->
<!--     route: /signup-form    -->

<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="namingFormGroup">
    <form [formGroup]="namingFormGroup" >
      <ng-template matStepLabel>Entrez vos informations</ng-template>
      <p>
          <mat-form-field appearance="fill" class="input-field">
          <mat-label>Société</mat-label>
          <input matInput placeholder="Société" formControlName="companyCtrl" required>
            <mat-error *ngIf="namingFormGroup.controls.companyCtrl.invalid">{{getCompanyErrorMessage()}}</mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom, ex: Giesse" formControlName="namingCtrl" required>
          <mat-error *ngIf="namingFormGroup.controls.namingCtrl.invalid">{{getNamingErrorMessage()}}</mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom, ex: Eric" formControlName="noCtrl">
          <mat-hint>(facultatif)</mat-hint>
        </mat-form-field>
      </p>
      <div>
        <button mat-flat-button color="primary" matStepperNext
        *ngIf="!disabledButton" [disabled]="disabledButton">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginFormGroup">
    <form [formGroup]="loginFormGroup">
      <ng-template matStepLabel>Choisir un identifiant</ng-template>
      <p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Identifiant (email)</mat-label>
          <input matInput formControlName="loginCtrl" placeholder="Adresse email (ex: eric.giesse@example.com)" required>
          <mat-error *ngIf="loginFormGroup.controls.loginCtrl.invalid">{{getEmailErrorMessage()}}</mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    </form>
    <form [formGroup]="loginFormGroup">
      <ng-template matStepLabel>Choisir un mot de passe</ng-template>
      <p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="pwdCtrl" min="8" [type]="hideOriginal ? 'password' : 'text'" placeholder="Mot de passe à 8 caractères minimum, comprenant au moins 1 chiffre, 1 maj., 1 min et 1 caractère spécial"
                 required>
          <mat-icon matSuffix (click)="hideOriginal = !hideOriginal" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hideOriginal">{{hideOriginal ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="loginFormGroup.controls.pwdCtrl.invalid">{{getPwdErrorMessage()}}</mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Vérification du mot de passe</mat-label>
          <input matInput [type]="hideCheck ? 'password':'text'" formControlName="checkCtrl" placeholder="Vérification du mot de passe" required>
          <mat-icon matSuffix (click)="hideCheck = !hideCheck" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hideCheck">{{hideCheck ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="loginFormGroup.controls.checkCtrl.invalid">{{getCheckErrorMessage()}}</mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <div>
        <button mat-flat-button color="primary" matStepperPrevious>Précédent</button>
        <button mat-flat-button color="primary" matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="tacFormGroup">
    <form [formGroup]="tacFormGroup">
      <p>Le formulaire d'inscription est maintenant complet.</p>
      <p>Merci de cocher les cases ci-dessous afin de terminer votre inscription</p>
      <ng-template matStepLabel>C'est presque fini!</ng-template>
      <p>
        <mat-checkbox formControlName="tacCtrl" required>
          J'ai lu et j'accepte les conditions générales de vente (CGV)
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="tacCtrl" required>
          J'ai lu et j'accepte les conditions générales d'utilisation (CGU) du site internet
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="tacCtrl" required>
          J'ai pris connaissances des mentions légales et de la politique de confidentialité
        </mat-checkbox>
      </p>
      <div>
        <button mat-flat-button color="primary" matStepperPrevious>Précédent</button>
        <button mat-flat-button color="warn" (click)="stepper.reset()">Réinitialiser</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
