<!-- home.component.html -->
<!--       route: /      -->
<body>
  <h1>Welcome to Ventalis' website !</h1>
  <h2>The best way to bring your company to a greener world!</h2>
  <p>Whatever your company's size, whether your target clients are local or national, whatever your field of activity, our marketing products will accompany you from the source of your ideas to the launch of your projects</p>
  <h2>5 ways to support your projects</h2>
  <p>One and every each tools to turn your ideas into reality</p>
  <p>Your products are some of ours: we use all our experience to promote them</p>
  <p>We help you launch your marketing campaigns</p>
  <p>We follow you in your quality and ecological processes</p>
  <p>We are committed to contributing 20% of our annual turnover to the development and sharing of ecological or eco-designed solutions.</p>
</body>
