div {
  color: white;
  background-image: url("../../assets/pictures/arbre-blurred-01.jpg");
//  background-image: url("../../assets/pictures/etang-blurred-01.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0px;

}


.logo {
  width: 20vw;
}
